
.corpo{
    background-color: darkblue;
    color: rgb(255, 0, 0);
    text-align: center;
    border: 30px;
    border-style: groove;
    border-color: rgb(255, 0, 0);
}
#plantio-de-soja{
    border: dashed 5px rgb(0, 0, 0);
    width: 500px;
    height: 700px;
}
p{
    color:rgb(255, 0, 0);
    font-size: 20px;
}

#link{
    color: rgb(0, 0, 0);
    text-decoration: none;
}

#link:hover{ 
    color: rgb(255, 0, 0);
    font-size: 15px;
}
}

